<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
</head>
<body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white mb-2 p-3">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="">LostAndFound</a>
              
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'lostandfoundapp:home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="{% url 'lostandfoundapp:myposts' %}">My Posts <span class="sr-only">(current)</span></a>
                      </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'lostandfoundapp:add' %}">Add Post <span class="sr-only">(current)</span></a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0 mr-2" method = "GET" action = "{% url 'lostandfoundapp:home' %}"> {% csrf_token %}
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
                    <div class="form-check-inline">
                        <label class="form-check-label" for="lost">
                          <input type="radio" class="form-check-input" id="lost" name="lostorfound" value="lost">Lost
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <label class="form-check-label" for="found">
                          <input type="radio" class="form-check-input" id="found" name="lostorfound" value="found">Found
                        </label>
                      </div>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>

                  {% if user.is_authenticated %}
                    
                    <div class="">
                      Hello, {{ user.username }}
                      <button type="button" class="btn btn-outline-primary"><a href ="{% url 'logout' %}">Logout</a></button>
                    </div>
	                {% else %}
                    <div class="col-xs-4 col-sm-2">
                        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-block btn-light">
                          <i class="fa fa-google-plus visible-xs"></i>
                          <span class="hidden-xs">Google+</span>
                        </a>
                      </div>
                  {% endif %}
  
                </div>
              </nav>

    {% block block %}
    
    {% endblock block %}


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>