{% include "lostandfoundapp/base.html" %}
{% load crispy_forms_tags %}

<title> {% block title %} Delete {% endblock title %} </title>

{% block block %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col">
                <form action="" method="post"> {% csrf_token %}
                        {{form|crispy}}
                        <p class="h5">Are you sure you want to delete "{{ object }}"?</p>
                        <input class="btn btn-danger" type = 'submit' value = 'confirm?' >
                        <a class="btn btn-primary" href = "{% url 'lostandfoundapp:myposts' %}">Cancel </a>
                    </form>
        </div>
    </div>
{% endblock block %}
    