<div class="row">
    <div class="col-lg-9">
        {{object.title}
    </div>
    <div class="col-lg-3">
        {{object.date_found_or_lost}}
    </div>   
</div>

<div class="row">
    <div class="col-lg-12">
        {{object.author}}
    </div>
</div>

<div class="row">
    <div class="col-lg-7">
        {{object.description}}
    </div>
    <div class="col-lg-5">
        <img src="{{object.image.url}}" alt="image not found" width="320" height="240">
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        {{object.contact_person_name}}
    </div>
    <div class="col-lg-6">
        {{object.contact_person_mobile_or_email}}            
    </div>
</div>